<p *ngIf="error" class="alert alert-danger" role="alert">{{ error }}</p>
<form #f="ngForm" (ngSubmit)="onSubmit()">
    <div class="mb-3">
        <label for="email" class="form-label">Email</label>
        <input type="email" ngModel name="email" class="form-control" id="email">
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" ngModel name="password" class="form-control" id="password">
    </div>
    <button type="submit" class="btn btn-primary">Log In</button>
</form>